src/log/*
src/cache/*
src/web/uploads/*
src/lib/form/base
src/lib/filter/base
src/lib/model/map
src/lib/model/om
src/plugins/*/lib/*/base
src/plugins/*/lib/*/map
src/plugins/*/lib/*/om
src/data/sql/*
src/.buildpath
src/.settings
src/.project
src/.obsolete
